/**
 * ${1:<%= class_name %>} :	${2:Description}
 * 
 * @langversion		HaXe 2
 * @targets			${3:cpp, flash, flash9, js, neko, php}
 * @author			${4:<%=full_name%>:<a href="mailto<%=email%>"></a>}
 * @since			${5:<%=date%>}
 */
