/**
 * <p><b>Description</b> :	${2:Description}
 * </p>
 * <p><b>langversion</b> HaXe 2</p>
 * <p><b>targets</b> ${3:cpp, flash, flash9, js, neko, php}</p>
 * <p><b>author</b>	${4:<%=full_name%> : <a href="mailto:<%=email%>">}<%=email%></a></p>
 * <p><b>since</b>	${5:<%=date%>}</p>
 */
